<% @posts.each do |post| %>
<ul>
  <li id="title"><%= post.title %></li>
  <li id="img"><%= post.image.url %></li>
  <li id="lat"><%= post.latitude %></li>
  <li id="long"><%= post.longitude %></li>
  <li><%= image_tag post.image.url(:thumb) %></li>
</ul>
<% end %>

<div id="map-canvas"></div>